#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.shop {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.card {
  padding: 2em;
  height: auto;
  width: 250px;
}

.card img {
  height: 125px;
  width: 150px;
}
