#root {
  text-align: center;
  min-height: 100vh;
  width: 100vw;
  background-color: #eaeaea;
}

.shop {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.card {
  padding: 2em;
  height: auto;
  width: 250px;
}

.card img {
  height: 125px;
  width: 150px;
}

main {
  max-width: 100vw;
}

main,
nav {
  padding: 0 50px;
}

nav {
  display: flex;
  align-items: center;
  background-color: silver;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);

  height: 120px;
  position: sticky;
  top: 0px;
  z-index: 1;
}

nav > .links {
  margin-left: auto;
}

nav a {
  color: red;
  font-size: 2rem;
  margin: 0 20px;
  font-weight: 700;
}

nav h1 {
  letter-spacing: -4px;
  font-weight: 700;
}

.trademark {
  color: red;
  border-radius: 50%;
  font-weight: 600;
}

/* Styles for carousel */

.wide-container {
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
}

.wide-container img {
  height: 250px;
  width: 300px;
  margin: 0 20px;
}

.frame {
  box-sizing: content-box;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 300px;
  width: 350px;
  background-color: grey;
  cursor: copy;
}

.frame-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section {
  display: flex;
  padding: 40px 0;
}

.hero-text {
  flex: 0.6;
  text-align: left;
  height: 100%;
}

.carousel {
  flex: 0.4;
}

.logo {
  color: white;
  background-color: black;
  padding: 5px 5px 5px 2px;
  cursor: default;
}

.hero-text h1 {
  font-weight: 900;
  margin: 0;
}

.hero-paragraph {
  margin-top: 30px;
  font-weight: 700;
  font-size: 1.1rem;
}

#prev-btn,
#next-btn {
  color: red;
  background-color: silver;
  margin: 10px;
  font-weight: 900;
  border: none;
}

#prev-btn:hover,
#next-btn:hover {
  background-color: black;
  color: red;
}

.about h2,
.motivation h2 {
  font-weight: 900;
  font-size: 2rem;
  margin: 0;
  margin-bottom: 5px;
}

.about p,
.motivation p {
  margin: 0;
}

.about,
.motivation {
  font-weight: 600;
  margin-bottom: 30px;
  text-align: left;
}

span.logo {
  margin: 0;
  padding: 0;
  padding-right: 2px;
  padding-left: 1px;
  font-weight: 700;
}

em {
  color: red;
  text-decoration: underline;
  font-weight: 700;
  cursor: not-allowed;
}

/* FOR LOADING SPINNER */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid black;
  border-top: 5px solid red;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Loading spinner ends here */

.error {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 1.2rem;
}

.wide-container .error {
  font-size: 1rem;
}

.add-btn {
  background-color: black;
  color: red;
  border: none;
  font-weight: 900;
}

.add-btn:hover {
  background-color: silver;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card > * {
  margin: 0;
  font-weight: 700;
}

.image-title {
  font-weight: 900;
}

.card img {
  border: 2px solid red;
  padding: 20px;
}

/* Styling to remove spinners in input field (used in shop component) */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* Spinner styling ends here*/

input {
  font-family: inherit;
  font-weight: 900;
  width: 30px;
  text-align: right;
}

.qty {
  display: flex;
  align-items: center;
}

.plus-btn,
.minus-btn {
  padding: 0px 10px;
  background-color: silver;
  margin: 0px 10px;
}

.card-bottom {
  display: flex;
  align-items: center;
}
