#root {
  text-align: center;
  min-height: 100vh;
  width: 100vw;
}

.shop {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.card {
  padding: 2em;
  height: auto;
  width: 250px;
}

.card img {
  height: 125px;
  width: 150px;
}

main,
nav {
  padding: 0 50px;
}

nav {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);

  height: 120px;
  position: sticky;
  top: 0px;
  z-index: 1;
}

nav > .links {
  margin-left: auto;
}

nav a {
  color: red;
  font-size: 2rem;
  margin: 0 20px;
  font-weight: 700;
}

nav h1 {
  letter-spacing: -4px;
  font-weight: 700;
}

.trademark {
  color: red;
  border-radius: 50%;
  font-weight: 600;
}

/* Styles for carousel */

.wide-container {
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
}

.wide-container img {
  height: 125px;
  width: 150px;
}

.frame {
  box-sizing: content-box;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 125px;
  width: 150px;
  background-color: grey;
}

.frame-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
